/*para celular*/
@media only screen and (max-width: 480px) {
  
    #tamanho {
        width: 25rem;
    }
    img#tela {
        width: 25rem;
    }

    #btn-bars {
        font-size: 22px;
        position: absolute;
        background: none;
        border: none;
        display: block;
    }

    header #menu-mobile {

        position: fixed;
        background-color: rgba(0,0,0,0.5);
        width: 80%;
        height: 100%;
        top: 0;
        
    }

    header .open-menu #menu-mobile {
        left: 0;
    }
   
    header  #menu-mobile li{
        text-align: center;
    }

    header  #menu-mobile li a {
        color: rgb(190, 10, 10);
        font-family: 'Great';
        font-size: 26px;
    }
}
