@font-face {
	font-family: 'Alexandria';
	src: url("../fonts/Alexandria/AlexandriaFLF.ttf");
	
}

@font-face {
    font-family: 'Great';
    src: url("../fonts/Great/GreatVibes-Regular.ttf")
	
}
@font-face {
    font-family: 'Karine';
    src: url("../fonts/karine/Karine aime les Chocolats.ttf")
	
}

#letra h1 {
    font-family: 'Great';
    font-size: 3em;
}
#letra p {
    font-family: 'Great';
    font-size: 3em;
}
#fonte li {
    font-family: 'Great';
    font-size: 2em;
}



#fonte h5 {
    font-family: 'Alexandria';
    color:white;
    font-size: 2em;
}


#fonte p {
font-family: 'Alexandria';
font-size: 30px;


}

#formatado h3 {

    font-family: 'Great';
    margin-top: 60px;
    font-size: 40px;
}


body {
    background: url('08.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    height: 450px;
  }

  #banner{
    background: url('../img/pic08.jpg') no-repeat center center fixed;
    width: 2850px;
    height: 450px;
    
    position: relative;
  }
  
  .nav-link {

    color: black;

}


